{% extends "base.html" %}

{% comment %}
This template is intended to be extended by each page in the application which uses a bar.
You will need to define the following block to extend this:

application_pane

{% endcomment %}

{% block content %}
  <div class="row p-0 mx-0">
    <div class="col p-0 order-first">{% include "elements/bar.html" %}</div>
  </div>
  {% comment %} <div id="application-content" class="container-fluid p-0 mx-0"> {% endcomment %}

  {% block application_pane %}
    <h1>bar_base is not intended to be rendered directly</h1>
    <p>
      In the extension template you must define the block
      <code>application_pane</code>
    </p>
  {% endblock application_pane %}
  {% comment %} </div> {% endcomment %}
{% endblock content %}
