{% extends "bar_base.html" %}

{% load static %}

{% block application_pane %}


<div class="row">
    <div class="character-column-first">
        <img src={% static "/character/Character_Statblock.png" %} alt="Character Statblock" style="width:100%"/>
    </div>
    <div class="character-column-second">
        <div>
            <img src={% static "/character/Character_Proficiency_Throws.png" %} alt="Character Proficiency and Throws" style="width:100%"/>
        </div>
        <div>
            <img src={% static "/character/Character_Combat.png" %} alt="Character Combat" style="width:100%"/>
        </div>
    </div>
    <div class="character-column-third">
        <img src={% static "/character/Character_Skills.png" %} alt="Character Skills" style="width:100%"/>
    </div>
    <div class="character-column-fourth">
        <div>
            <img src={% static "/character/Character_Personality.png" %} alt="Character Personality" style="width:100%"/>
        </div>
        <div>
            <img src={% static "/character/Character_Attacks_Spellcasting.png" %} alt="Character Attacks and Spellcasting" style="width:100%"/>
        </div>
    </div>
    <div class="character-column-fifth">
        <img src={% static "/character/Character_Other.png" %} alt="Character Other" style="width:100%"/>
    </div>
    <div class="character-column-sixth">
        <img src={% static "/character/Character_Features_Traits.png" %} alt="Character Features and Traits" style="width:100%"/>
    </div>
  </div> 
{% endblock application_pane %}
