<!DOCTYPE html>
{% extends "base.html" %}

{% comment %} 
POST Variables: Put your comments
here 
{% endcomment %}

{% block content %}
  {% load static %}
  <form action
        {% url "create_account" %}
        method="post"
        class="form"
        id="background-image"
        style="background-image: url('{% static "Create_Account_d20.jpg" %}')">
    {% csrf_token %}
    <div class="container" style="height: 100vh">
      <div class="row h-100 align-items-center justify-content-center">
        <div class=" col-md-8 col-lg-6 bg-white rounded-5 shadow-5-strong p-5">
          <h1>Create Account</h1>
          {% for field in form %}
            <div class="mb-3">
              <label class="form-label" for={{ field.auto_id }}>{{ field.label }}
              </label>
              {% if field.help_text %}<sup>{{ field.help_text }}</sup>{% endif %}
              {{ field }}
              {% for error in field.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
            </div>
          {% endfor %}
          {% if error != None %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endif %}
          <button type="submit" class="btn btn-primary" style="margin-bottom: 5px">Submit</button>
          <!-- Register buttons -->
          <div class="text-left">
            <p>
              Already a member? <a href="{% url 'login' %}">login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
