{% extends 'bar_base.html' %} {% block application_pane %} <div class="
<div class="container-fluid">
  <form>
    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="email" class="form-control" />
      <label class="form-label" for="email">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password" class="form-control" />
      <label class="form-label" for="password">Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
      Sign in
    </button>

    <!-- Register buttons -->
    <div class="text-left">
      <p>Not a member? <a href="#!">Register</a></p>
    </div>
  </form>
</div>
{% endblock application_pane %}
