{% extends "bar_base.html" %}

{% load static %}

{% block application_pane %}
<div class="container-fluid">
    <div>
        <div class="row">
            <div class="generator-header">
                <img src="{% static 'Loot_Header.png' %}"
                     alt="Loot Header"
                     style="width: 45%"/>
              </div>
        </div>
        <div class="row">
            <div class="col" style="background-color: #D9CAAB;text-align:center;">
                <h4>Saved Loot:</h4>
            </div>

        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="data-table table-scrollbar">
                    <table class="table table-hover">
                        <thead style="position: sticky; top: 0;">
                        <tr>
                            <th style="width: 40%" scope="col">Loot Type</th>
                            <th style="width: 40%" scope="col">Total Value</th>
                            <th style="width: 10%" scope="col">Details</th>
                            <th style="width: 10%" scope="col">Select</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for loot in loot_list %}
                            <tr>
                                <td>{{ loot.Loot_Type }}</td>
                                <td>{{ loot.Total_Value|stringformat:".2f" }}</td>
                                <td>{{ redirect }}</td>
                                <td>{{ select }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock application_pane %}
