body {
    background-color: #2f2e35;
}

#background-image{
    background-color: #2f2e35;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-image {
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    height: 70vh;
    justify-content: center;
    min-height: 60vh;
    position: relative;
    width: 100%;
}

.header-text {
    align-items: center;
    color:black;
    display: flex;
    justify-content: center;
}

.title-bar {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.credits-bar {
    color: white;
    margin-top: 2.5%;
    text-align: center;
}

h1 {
    font-size: 2.75rem;
    font-weight: 500;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 2vh;
}

.navbar-expand-lg {
    background-color: #7D8B8C;
    padding-left: 5rem !important;
    padding-right: 2rem !important;
}

.nav-link {
    padding: 15px 15px;
}

.navbar-expand-lg .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #545e5f;
    color: white;
}

.panel {
    align-items: center;
    background-color: #D9CAAB;
    column-gap: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    row-gap: 10%;
}

.image-column {
    max-height: 300px;
    max-width: 300px;
}

img {
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
}

.character-header {
    background-color: #D9CAAB;
    display:flex;
    min-height: 85px;
}

.character-row {
    display: flex;
}

.character-name {
    align-items: center;
    background-color: #7D8B8C;
    display: flex;
    float: left;
    justify-content: left;
    padding: 1%;
    width: 30%;
}

.character-info {
    background-color:  #7D8B8C;
    display: grid;
    float: left;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 1%;
    width: 40%;
}

.character-control {
    align-items: center;
    background-color: #7D8B8C;
    column-gap: 5%;
    display: grid;
    float: left;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    padding: 1%;
    width: 30%;
}

.character-statblock {
    background-color: #D9CAAB;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    row-gap: 1vh;
    width: 100%;
}

.character-stat {
    align-items: center;
    background-color: tan;
    display: flex;
    justify-content: center;
    padding: 1%;
    position: relative;
    text-align: center;
    width: 50%;
}

.character-stat-title {
    font-size: 85%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -270%);
}

.character-stat-base {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character-stat-bonus {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 90%);
}

.character-baseplate {
    background-color: #7D8B8C;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-bottom: 4vh;
    padding-top: 4vh;
    justify-items: center;
    row-gap: 1vh;
    width: 100%;
}

.character-plate {
    background-color: tan;
    border-radius: 10%;
    padding: 2%;
    min-width: 80%;
}

.character-panel {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 20%;
    color: white;
    display: inline-block;
    height: 90%;
    text-align: center;
    width: 100%;
    }
    .green {
    background-color: #55bd6b;
    }
    .blue {
    background-color: #B6D6D9;
    }
    .purple {
    background-color: #A8A0D9;
    }

button:hover {
    background-color: #4D5657;
}

input.small {
    display: flex;
    position: relative;
}

input.big {
    display: flex;
    font-size: 2rem;
    position: relative;
    width: 100%;
}

input[type=checkbox] {
    height: 1.5em;
    width: 100%;
}